a{
	text-decoration: none;
}

body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	background-color: ghostwhite;
}

header {
    padding: 20px 0;
    display: flex;
	background-color: rgb(30, 30, 100);
}

.header-content {
    width: 1200px;
    margin: 0 auto;
}

.header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

main {

}

.main1 {

}

.lesson {
	display: flex;
	width: 800px;
	margin: 50px auto 0 auto;
	background-color: white;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.lesson:hover {
	transform: translate(0, -2px);
	color: #fff;
	box-shadow: 0 8px 13px rgba(0, 0, 0, .2);
}

.lesson:active {
	transform: translate(0, 2px);
}

.lesson-icon1 {
	padding: 10px;
	background-color: rgb(0, 191, 166);
}

.lesson-icon2 {
	padding: 10px;
	background-color: rgb(249, 168, 38);
}

.lesson-text {
	padding: 30px;
}

.lesson-title {
	font-size: 40px;
	font-weight: bold;
	color: rgb(30, 30, 100);
}

.lesson-detail {
	margin-top: 10px;
	color: rgb(30, 30, 100);
}

.lesson-img {
	margin-left: auto;
}
