body {
    margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 0;
    display: flex;
	background-color: rgb(30, 30, 100);
}

.header-content {
    width: 1200px;
    margin: 0 auto;
}

.header-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

main {

}

.main1 {
    background-color: rgb(30, 30, 100, 0.8);
}

.main1-title{
    text-align: center;
    width: 280px;
    margin: 0 auto;
    padding-top: 120px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.main1-detail{
    width: 800px;
    margin: 30px auto 0 auto;
    color: silver;
}

.main1-button-wrapper{
    width: fit-content;
    margin: 30px auto 0 auto;
}

.main1-button{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 50, 118, 0.8);
    border-radius: 5px;
}

.main1-button:hover{
    background-color: rgba(255, 50, 118);
}

.main1-blank{
    height: 120px;
}

.main2{
    margin-top: 100px;
}

.main2-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(30, 30, 100);
}

.main2-detail{
    width: 600px;
    margin: 10px auto 0 auto;
    color: rgb(30, 30, 100);
}

.main3{
    display: flex;
    margin-top: 70px;
}

.main3-img{
    width: fit-content;
    margin-left: auto;
}

.main3-detail-wrapper{
    width: 600px;
    margin-right: auto;
}

.main3-detail-title{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(30, 30, 100);
}

.main3-detail{
    width: 400px;
    margin: 30px auto 0 auto;
    color: rgb(30, 30, 100);
}

.main4{
    display: flex;
    margin-top: 70px;
}

.main4-img{
    width: fit-content;
    margin-right: auto;
}

.main4-detail-wrapper{
    width: 600px;
    margin-left: auto;
}

.main4-detail-title{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(30, 30, 100);
}

.main4-detail{
    width: 400px;
    margin: 30px auto 0 auto;
    color: rgb(30, 30, 100);
}
