body {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	background-color: ghostwhite;
}

#modal {
	display: none;
	z-index: 1;
}

.modal-close {
	width: 100%;
    height: 100vh;
    position: absolute;
	background: rgba(0,0,0,0.8);
}

.modal-content {
	height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	border-radius: 5px;
    background-color: white;
}

header {
	display: flex;
	color: navy;
	box-shadow: 0 0 5px grey;
	background-color: white;
}

main {
	display: flex;
	margin: 50px auto;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 3px grey;
}

.center {
	margin: 0 auto;
	padding: 50px 0 20px 0;
	border-radius: 5px;
}

.left {
}

.right {
}

footer {
}

.title {
	padding: 20px 10px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	background-color: navy;
}

#yubimoji {
	cursor: pointer;
	margin-left: 16px;
	padding-top: 16px;
	font-size: 20px;
	color: navy;
}

#yubimoji:hover {
	border-bottom: solid navy 2px;
}

.usr {
	margin-left: auto;
	padding: 20px 20px;
	font-size: 20px;
	color: navy;
}

.signout {
	margin: 20px 0;
	padding: 0 20px;
	font-size: 20px;
	text-decoration: none;
	color: navy;
	border-left: solid 2px navy;
}

.mission {
	width: 200px;
	margin-top: 50px;
	padding: 0 20px;
	text-align: left;
	font-size: 20px;
	color: navy;
}

ul {
	margin: 0;
	padding-left: 20px;
}

li {
	margin-top: 10px;
}

#video {
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 3px grey;
}

#progress {
	width: 0;
	margin-top: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: navy;
	transition: 0.5s;
}

.userInput {
	width: 200px;
	margin-top: 50px;
	padding: 0 20px;
	text-align: center;
}

#textInput {
	width: 200px;
	padding: 5px;
	font-size: 20px;
	color: navy;
	outline: none;
	border: none;
    border-bottom: solid navy 2px;
}

#buttonInput {
	width: 200px;
	margin-top: 20px;
	padding: 5px;
	font-size: 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	color: white;
	background-color: navy;
}
