body {
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	background-color: ghostwhite;
}

#modal {
	display: none;
	z-index: 1;
}

.modal-close {
	width: 100%;
    height: 100vh;
    position: absolute;
	background: rgba(0,0,0,0.8);
}

.modal-content {
	height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	border-radius: 5px;
    background-color: white;
}

header {
	display: flex;
	color: navy;
	box-shadow: 0 0 5px grey;
	background-color: white;
}

main {
	display: flex;
	margin: 0 auto;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.left {
}

.right {
}

footer {
}

.title {
	padding: 20px 10px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	background-color: navy;
}

#yubimoji {
	cursor: pointer;
	margin-left: 16px;
	padding-top: 16px;
	font-size: 20px;
	color: navy;
}

#yubimoji:hover {
	border-bottom: solid navy 2px;
}

#video {
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 0 0 3px grey;
}

.userInput {
	margin-top: 30px;
	display: inline-block;
}

#textInput {
	width: 400px;
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	color: navy;
	background-color: ghostwhite;
	outline: none;
	border: none;
    border-bottom: solid navy 5px;
}

#buttonInput {
	cursor: pointer;
	width: 130px;
	padding: 5px;
	font-size: 30px;
	border: none;
	border-radius: 5px;
	outline: none;
	color: white;
	background-color: navy;
}

#buttonInput:active {
	-webkit-transform: translateY(3px);
	transform: translateY(3px);
}
